@font-face {
    font-family: 'DELERIUM NEON';
    src: url(DELERIUM NEON NCV.ttf);
}
@font-face {
    font-family: 'DELERIUM';
    src: url(DELERIUM NCV.ttf);
}
nav{
    font-family: DELERIUM NEON;
    color:black;
}